<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <!--basic styles-->

    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="assets/css/font-awesome.min.css" />

    <!--[if IE 7]>
    <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css" />
    <![endif]-->

    <!--page specific plugin styles-->

    <!--fonts-->

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />

    <!--ace styles-->

    <link rel="stylesheet" href="assets/css/ace.min.css" />
    <link rel="stylesheet" href="assets/css/ace-responsive.min.css" />
    <link rel="stylesheet" href="assets/css/ace-skins.min.css" />

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
    <![endif]-->

    <!--inline styles if any-->

    <script src="websocket/js/sockjs.min.js"></script>
    <script src="websocket/js/stomp.min.js"></script>
    <script src="jquery/jquery.js"></script>
    <script src="assets/js/jquery.slimscroll.min.js"></script>
    <script src="assets/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script>

        //jianlisocket连接
        var stompClient = null;
        function setConnected(connected) {
            document.getElementById('connect').disabled = connected;
            document.getElementById('disconnect').disabled = !connected;
            document.getElementById('nickname').disabled = connected;
            document.getElementById('span6').style.visibility = connected ? 'visible' : 'hidden';
            $('#msgContent').val("");
        }
        // 开启socket连接
        function connect() {
            var socket = new SockJS('/socket');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function (frame) {
                setConnected(true);
                console.log('notice socket connected!');
                console.log('read: /topic/roomId'+$("#roomId").val());
//                stompClient.subscribe('/topic/notice', function (data) {
                stompClient.subscribe('/topic/roomId'+$("#roomId").val(), function (data) {
//                stompClient.subscribe('/topic/roomId', function (data) {
                    var msgBody = JSON.parse(data.body);
                    var msgHtml = "";
                    msgHtml+='<div class="itemdiv dialogdiv">';
                    msgHtml+='<div class="user">';
                    msgHtml+='<img alt="Bob\'s Avatar" src="assets/avatars/avatar4.png" />';
                    msgHtml+='</div>';
                    msgHtml+='<div class="body">';
                    msgHtml+='<div class="time">';
                    msgHtml+='<i class="icon-time"></i>';
                    msgHtml+='<span class="orange">2 min</span>';
                    msgHtml+='</div>';
                    msgHtml+='<div class="name">';
                    msgHtml+='<a href="#">'+msgBody.nickname+'</a>';
                    msgHtml+='<span class="label label-info arrowed arrowed-in-right">admin</span>';
                    msgHtml+='</div>';
                    msgHtml+='<div class="text">'+msgBody.msg+'</div>';
                    msgHtml+='<div class="tools">';
                    msgHtml+='<a href="#" class="btn btn-minier btn-info">';
                    msgHtml+='<i class="icon-only icon-share-alt"></i>';
                    msgHtml+='</a>';
                    msgHtml+='</div>';
                    msgHtml+='</div>';
                    msgHtml+='</div>';
                    $("#dialogs").append(msgHtml);
                });
            });
        }
        // 断开socket连接
        function disconnect() {
            if (stompClient != null) {
                stompClient.disconnect();
            }
            setConnected(false);
            console.log("Disconnected");
        }
        // 向‘/app/change-notice’服务端发送消息
        function sendName() {
            var value = document.getElementById('msgContent').value;
            var map='{"roomId":"'+$("#roomId").val()+'","nickname":"'+$("#nickname").val()+'","msg":"'+value+'"}';
            stompClient.send("/app/change-notice", {}, map);
            //清空输入框
            $('#msgContent').val("");
        }

        //开启监听
        var noticeSocket = function () {
            var s = new SockJS('/socket');
            var stompClient = Stomp.over(s);
            stompClient.connect({}, function () {
                console.log('notice socket connected!');
                stompClient.subscribe('/topic/notice', function (data) {
                    var msgBody = JSON.parse(data.body);
                    var msgHtml = "";
                    msgHtml+='<div class="itemdiv dialogdiv">';
                    msgHtml+='<div class="user">';
                    msgHtml+='<img alt="Bob\'s Avatar" src="assets/avatars/avatar4.png" />';
                    msgHtml+='</div>';
                    msgHtml+='<div class="body">';
                    msgHtml+='<div class="time">';
                    msgHtml+='<i class="icon-time"></i>';
                    msgHtml+='<span class="orange">2 min</span>';
                    msgHtml+='</div>';
                    msgHtml+='<div class="name">';
                    msgHtml+='<a href="#">'+msgBody.nickname+'</a>';
                    msgHtml+='<span class="label label-info arrowed arrowed-in-right">admin</span>';
                    msgHtml+='</div>';
                    msgHtml+='<div class="text">'+msgBody.msg+'</div>';
                    msgHtml+='<div class="tools">';
                    msgHtml+='<a href="#" class="btn btn-minier btn-info">';
                    msgHtml+='<i class="icon-only icon-share-alt"></i>';
                    msgHtml+='</a>';
                    msgHtml+='</div>';
                    msgHtml+='</div>';
                    msgHtml+='</div>';
                    $("#dialogs").append(msgHtml);

                });
            });
        };

        //获取url中的参数
        function getUrlParam(name) {
            var reg = new RegExp("(^|&amp;)" + name + "=([^&amp;]*)(&amp;|$)"); //构造一个含有目标参数的正则表达式对象
            var r = window.location.search.substr(1).match(reg);  //匹配目标参数
            if (r != null) return unescape(r[2]); return null; //返回参数值
        }

        $(function(){
            $("#roomId").val(getUrlParam("roomId"));
            $('.dialogs,.comments').slimScroll({
                height: '300px'
            });
        });
    </script>

</head>
<body>
    <div><input  id="roomId" type="text" type="hidden"/></div>
    <h3 style="margin-left: 30px">Welcome to my chat room!</h3>
    <div style="margin-left: 30px;margin-bottom: 10px">

        <div><input placeholder="Please enter your nickname." id="nickname" type="text" class="form-control" /></div>
        <div class="col-md-offset-3 col-md-9">
            <button id="connect" onclick="connect();" class="btn btn-info" type="button">
                <i class="ace-icon fa fa-check bigger-110"></i>
                Connect
            </button>
            <button id="disconnect" disabled="disabled" onclick="disconnect();" type="reset" class="btn">
                <i class="ace-icon fa fa-undo bigger-110"></i>
                Disconnect
            </button>
        </div>
    </div>
    <div>
        <div class="span6" id="span6" style="visibility: hidden">
            <div class="widget-box ">
                <div class="widget-header">
                    <h4 class="lighter smaller">
                        <i class="icon-comment blue"></i>
                        Conversation
                    </h4>
                </div>

                <div class="widget-body" >
                    <div class="widget-main no-padding">
                        <div class="dialogs" id="dialogs">
                        </div>

                        <form>
                            <div class="form-actions input-append">
                                <input placeholder="Type your message here ..." id="msgContent" type="text" class="width-75" name="message" />
                                <button class="btn btn-small btn-info no-radius" onclick="return false;">
                                    <i class="icon-share-alt"></i>
                                    <span class="hidden-phone" onclick="sendName();">Send</span>
                                </button>
                            </div>
                        </form>
                    </div><!--/widget-main-->
                </div><!--/widget-body-->
            </div><!--/widget-box-->
        </div><!--/span-->
    </div><!--/row-->
</body>
</html>