<!DOCTYPE HTML>
<html>
<head>
    <title>Chat Room</title>
    <script>

    </script>

</head>

    <body>
        <div>
            <div>
                <div class="wizard-actions">
                    <button class="btn btn-prev" disabled="disabled">
                        <i class="ace-icon fa fa-arrow-left"></i>
                        Create Room
                    </button>

                    <button class="btn btn-success btn-next" data-last="Finish">
                        Join Room
                        <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </body>


</html>